<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="map_name" default="sample" />
  <arg name="maps_location" default="$(find map_store)/maps/" />

  <arg name="map_path" value="$(eval arg('maps_location') + arg('map_name') + '.yaml')" />

  <param name="warehouse_host" value="localhost" />
  <param name="warehouse_port" value="27017" />

  <!-- Save to database -->
  <node pkg="map_store" type="map_saver" name="map_saver" />
  <!-- For checking duplicates and delete -->
  <node pkg="map_store" type="map_manager" name="map_manager" output="screen" />
  <!-- For publishing local map file-->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)" />
  <!-- State machine -->
  <node pkg="map_store" type="add_map.py" name="add_map" args="'$(arg map_name)'" required="true"
    output="screen" />

</launch>